<header class="topbar">
    <div class="tb-inner">
        <div class="search">
            <i class="bx bx-search"></i>
            <input class="input" placeholder="Search Pipedrive" />
        </div>
        <div class="tb-center">
            <div class="logo">
                <h1>recruit crm</h1>
            </div>
        </div>

        <div class="tb-right">
            <button class="icon-btn1"><i class="bx bx-plus text-white"></i></button>
            <span class="vertical-line"></span>
            <button class="icon-btn"><i class="bx bx-calendar"></i></button>
            <button class="icon-btn"><i class="bx bx-envelope"></i></button>
            <button class="icon-btn"><i class="bx bx-bell"></i></button>
            <button class="icon-btn"><i class="fa-solid fa-user avatarColor"></i></button>

            <div class="assignee-info">
                <span class="assignee-name"><strong>Phyllis Yang</strong></span><br>
                <span class="date-time">Silicon Links</span>
            </div>
        </div>
    </div>
</header>